@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: extrabold;
    font-style: extrabold;
} */


/* @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-UltraLight.woff') format('woff');
    font-weight: ultralight;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Black.woff') format('woff');
    font-weight: black;
    font-style: normal; */
/* } */


.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #989393;
  scale: 0.7;
  font-weight: bold;

}

.custom-swiper .swiper-button-next:after,
.custom-swiper .swiper-button-prev:after {
  font-size: 50px;
}

.swiper-slide-custom {
  transition: opacity 0.3s ease;
}

.swiper-slide-custom:not(.swiper-slide-active) {
  opacity: 0.5;
}
